html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display:none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensures body is full viewport height */
}

main {
    flex: 1;
}

p{
    color: darkred;
}

.fwall {
    width: 80%;
    height: 400px;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;               /* enable flexbox */
    flex-direction: column;      /* stack children vertically */
    justify-content: center;     /* vertical alignment inside fwall */
    align-items: center;         /* horizontal alignment */
    margin: 100px auto 0 auto;   /* top margin + horizontal centering */
    padding-bottom: 100px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    background: url("../images/animusinvictus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
}


/* Mobile responsiveness */
@media screen and (max-width: 480px) {

}

@media screen  and (max-width: 768px){
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    
}

@media  screen and (max-width: 480px){
    main {
        flex: none;               /* stops stretching main */
        padding: 10px 10px;
        flex-direction: column;   /* stack content vertically */
        align-items: center;      /* center content */
    }
}

/* Mobile responsiveness */
@media screen and (max-width: 480px) {
}

@media screen  and (max-width: 768px){
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    
}

@media  screen and (max-width: 480px){

    main {
        flex: none;               /* stops stretching main */
        padding: 10px 10px;
        flex-direction: column;   /* stack content vertically */
        align-items: center;      /* center content */
    }
   
}
