body::-webkit-scrollbar{
    display:none;
}

.programs{
     display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 50px 0 100px 0; 
    margin-bottom: 50px;
}

.opening, .bbpisay, .closing {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;  /* stack heading and cards vertically */
    gap: 10px;               /* space between heading and cards */
    padding: 10px 0;      /* optional top/bottom spacing */
}

.title {
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-size: 1.7rem;
    margin: 0%x;
}

.opening_image, .bbpisay_image, .closing_image {
    width: 100%;
    aspect-ratio: 996/1412;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

.opening_image {
    background-image: url("../images/openingprog.png");
}


.bbpisay_image {
    background-image: url("../images/bbpisayprog.png");
}


.closing_image {
    background-image: url("../images/closingprog.png");
}

@media screen  and (max-width: 768px){
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .programs{
        display: block;
    }

    .opening, .bbpisay, .closing{
        width: 80%;
        margin: auto;
    }
    
}