.schedule{
    display: flex;
}

body::-webkit-scrollbar{
    display:none;
}



.title {
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-size: 2rem;
    margin: 0;
}

.schedule {
    width: 100%;
    display: flex;
    flex-direction: column;  /* stack vertically */
    align-items: center;     /* center each day horizontally */
    gap: 40px;               /* space between days */
    margin: 40px auto;
}


.DAY_1, .DAY_2, .DAY_3, .DAY_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}


.day1, .day2, .day3, .day4 {
  width: 80%;
  height: 550px;
}


.day3, .day4{
    background-image: url(../images/comingsoon.png);
    background-size: cover;
    background-position: 50% 30%;
}

@media screen and (max-width: 768px) {
  .schedule, .schedule1, .schedule2 {
    display: block;
  }

  .DAY_1, .DAY_2, .DAY_3, .DAY_4 {
    width: 100%;
  }
}


.sheet-preview {
    height: auto;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s ease;
}

.sheet-preview:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

@media screen  and (max-width: 768px){
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .schedule, .schedule1, .schedule2{
        display: block;
    }

    .DAY_1, .DAY_2, .DAY_3, .DAY_4, .DAY_5{
        width: 100%;
    }
    
}